body{
margin:0;
background:#2f3136;
color:white;
font-family:Arial;
}

header{
display:flex;
justify-content:space-between;
padding:20px;
background:#202225;
}

.kanban{
display:flex;
gap:20px;
padding:20px;
}

.coluna{
background:#36393f;
padding:15px;
border-radius:10px;
width:300px;
}

.task{
background:#40444b;
padding:10px;
border-radius:5px;
margin-top:10px;
}