body{
font-family: Arial;
background:#2f3136;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
color:white;
}

.login-container{
background:#36393f;
padding:40px;
border-radius:10px;
width:300px;
text-align:center;
}

input{
width:100%;
padding:10px;
margin:10px 0;
border:none;
border-radius:5px;
}

button{
width:100%;
padding:10px;
background:#3ba55c;
border:none;
border-radius:5px;
color:white;
font-size:16px;
cursor:pointer;
}

button:hover{
background:#2f8f4e;
}