body{

margin:0;
height:100vh;

display:flex;
justify-content:center;
align-items:center;

font-family:Arial, Helvetica, sans-serif;

background:linear-gradient(135deg,#1f2937,#111827);

color:white;

}

.login-box{

background:#1f2937;

padding:40px;

border-radius:12px;

width:320px;

text-align:center;

box-shadow:0 10px 30px rgba(0,0,0,0.5);

}

.login-box h1{

margin-bottom:5px;

}

.sub{

color:#9ca3af;

margin-bottom:25px;

}

input{

width:100%;

padding:12px;

margin:8px 0;

border:none;

border-radius:6px;

background:#374151;

color:white;

font-size:14px;

}

input:focus{

outline:none;

background:#4b5563;

}

button{

width:100%;

padding:12px;

margin-top:15px;

border:none;

border-radius:6px;

background:#22c55e;

color:white;

font-size:16px;

cursor:pointer;

transition:0.3s;

}

button:hover{

background:#16a34a;
transform:scale(1.03);

}

#erro{

color:#ef4444;

margin-top:10px;

}