body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#020617;
font-family:Arial;
color:white;
}

.login-card{
background:#1e293b;
padding:40px;
border-radius:10px;
width:300px;
text-align:center;
}

input{
width:100%;
padding:10px;
margin-top:10px;
border-radius:5px;
border:none;
}

button{
width:100%;
padding:10px;
margin-top:10px;
background:#22c55e;
border:none;
border-radius:5px;
color:white;
}